footer.main-footer
        strong
          | Copyright © 2014-2019 
          a(href='http://adminlte.io') AdminLTE.io
          | .
        |             All rights reserved.
        .float-right.d-none.d-sm-inline-block
          b Version
          |  3.0.5