aside.main-sidebar.sidebar-dark-primary.elevation-4
        // Brand Logo
        a.brand-link(href='index3.html')
          img.brand-image.img-circle.elevation-3(src='/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light AdminLTE 3
        // Sidebar
        .sidebar
          // Sidebar user panel (optional)
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              a.d-block(href='#') Alexander Pierce
          // Sidebar Menu
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              //
                Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library
              li.nav-item.has-treeview.menu-open
                a.nav-link.active(href='#')
                  i.nav-icon.fas.fa-tachometer-alt
                  p
                    | Dashboard
                    i.right.fas.fa-angle-left
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-circle.nav-icon
                      p Dashboard v2
              li.nav-item
                a.nav-link(href='pages/widgets.html')
                  i.nav-icon.fas.fa-th
                  p
                    | Widgets
                    span.right.badge.badge-danger New
              li.nav-header EXAMPLES
              li.nav-item
                a.nav-link(href='pages/calendar.html')
                  i.nav-icon.fas.fa-calendar-alt
                  p
                    | Calendar
                    span.badge.badge-info.right 2
              li.nav-item
                a.nav-link(href='pages/gallery.html')
                  i.nav-icon.far.fa-image
                  p
                    | Gallery
              li.nav-item.has-treeview
                a.nav-link(href='#')
                  i.nav-icon.far.fa-envelope
                  p
                    | Mailbox
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/mailbox/mailbox.html')
                      i.far.fa-circle.nav-icon
                      p Inbox
                  li.nav-item
                    a.nav-link(href='pages/mailbox/compose.html')
                      i.far.fa-circle.nav-icon
                      p Compose
                  li.nav-item
                    a.nav-link(href='pages/mailbox/read-mail.html')
                      i.far.fa-circle.nav-icon
                      p Read
              li.nav-item.has-treeview
                a.nav-link(href='#')
                  i.nav-icon.fas.fa-book
                  p
                    | Pages
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/examples/invoice.html')
                      i.far.fa-circle.nav-icon
                      p Invoice
                  li.nav-item
                    a.nav-link(href='pages/examples/profile.html')
                      i.far.fa-circle.nav-icon
                      p Profile
                  li.nav-item
                    a.nav-link(href='pages/examples/e-commerce.html')
                      i.far.fa-circle.nav-icon
                      p E-commerce
                  li.nav-item
                    a.nav-link(href='pages/examples/projects.html')
                      i.far.fa-circle.nav-icon
                      p Projects
                  li.nav-item
                    a.nav-link(href='pages/examples/project-add.html')
                      i.far.fa-circle.nav-icon
                      p Project Add
                  li.nav-item
                    a.nav-link(href='pages/examples/project-edit.html')
                      i.far.fa-circle.nav-icon
                      p Project Edit
                  li.nav-item
                    a.nav-link(href='pages/examples/project-detail.html')
                      i.far.fa-circle.nav-icon
                      p Project Detail
                  li.nav-item
                    a.nav-link(href='pages/examples/contacts.html')
                      i.far.fa-circle.nav-icon
                      p Contacts
              li.nav-header MULTI LEVEL EXAMPLE
              li.nav-item
                a.nav-link(href='#')
                  i.fas.fa-circle.nav-icon
                  p Level 1
              li.nav-item.has-treeview
                a.nav-link(href='#')
                  i.nav-icon.fas.fa-circle
                  p
                    | Level 1
                    i.right.fas.fa-angle-left
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-circle.nav-icon
                      p Level 2
                  li.nav-item.has-treeview
                    a.nav-link(href='#')
                      i.far.fa-circle.nav-icon
                      p
                        | Level 2
                        i.right.fas.fa-angle-left
                    ul.nav.nav-treeview
                      li.nav-item
                        a.nav-link(href='#')
                          i.far.fa-dot-circle.nav-icon
                          p Level 3
                      li.nav-item
                        a.nav-link(href='#')
                          i.far.fa-dot-circle.nav-icon
                          p Level 3
                      li.nav-item
                        a.nav-link(href='#')
                          i.far.fa-dot-circle.nav-icon
                          p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-circle.nav-icon
                      p Level 2
          // /.sidebar-menu